.app-bar {
    position: fixed;
    bottom: 0;
    height: 2rem;
    width: 100%;
    max-width: 800px;
    background-color: rgb(20, 33, 61);
}

.add-btn {
    position: absolute;
    right: 10px;
    top: -25px;
    width: 3rem;
    height: 3rem;
    border: 3px solid #ededed;
    border-radius: 8px;
    background: rgb(20, 33, 61);
}

.add-btn:hover {
    background-color: rgb(250, 250, 250);
    cursor: pointer;
}