.deleteBtn {
    font-size: .6rem;
    line-height: 1;
    padding-top: 1.7rem;
    color: rgb(20, 33, 61);
    border: none;
    width: 2rem;
    height: 2.5rem;
    background: no-repeat top url("./../assets/svg/trash.svg"), rgb(250,250,250);
}

.deleteBtn:hover {
    cursor: pointer;
}