.ui-page-header {
    text-align: center;
    padding: 1.5rem 0;
    line-height: 1.2;
    background-color: rgb(250, 250, 250);
    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1.25rem;
    }
    svg {
        width: 4rem;
        height: auto;
    }
}