.link-container {
    text-align: center;
    margin: 2rem 0;
}

.ui-link {
    display: inline-block;
    color: #0a0a0a;
    font-weight: 700;
    background-color: #e5e5e5;
    padding: .5rem;
    text-decoration: none;
    border-radius: 8px;
}

.ui-link:hover {   
    color: #0a0a0a;
    text-decoration: none;
    box-shadow: 0px 0px 10px 10px rgba(252, 163, 17, 0.5);
}

