.ui-list {
    margin: 2rem 1rem 4rem;
    border-radius: 8px;
    color: rgb(22, 33, 61);

    li {
        margin: 1rem 0;
        padding: 0.5rem 0.5rem 0.5rem 1.5rem;
        background-color: #fff;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
    }

    li p {
        font-size: .85rem;
    }
    
    h2 {
        font-size: 1.05rem;
        font-weight: 700;
    }
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.completed {
    color: green;
    font-weight: 700;
}

.school {
    border-left: 4px solid red;
    border-top: 2px solid red;
}

.recreation {
    border-left: 4px solid rgb(13, 236, 236);
    border-top: 2px solid rgb(13, 236, 236);
}

.health {
    border-left: 4px solid yellow;
    border-top: 2px solid yellow;
}

.work {
    border-left: 4px solid rgb(95, 255, 47);
    border-top: 2px solid rgb(95, 255, 47);
}

.art {
    border-left: 4px solid rgb(255, 130, 151);
    border-top: 2px solid rgb(255, 130, 151);
}