.ui-list {
    margin: 2rem 1rem 4rem;
    border-radius: 8px;
    color: rgb(22, 33, 61);

    h2 {
        font-size: 1.10rem;
        font-weight: 700;
        svg {
            width: 1.5rem;
            height: auto;
        }
    }

    li {
        margin: 1rem 0;
        padding: 0.5rem 0.5rem 0.5rem 1.5rem;
        background-color: #fff;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
    }

    li p {
        font-size: .85rem;
        font-weight: 500;
        margin-top: .5rem;
    }
    
    li span {
        color: grey;
        font-weight: 400;
    }

    .completed {
        color: green;
        font-weight: 700;
    }
    
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.school {
    border-left: 4px solid red;
    h2 svg {
        fill: red;
    }
}

.recreation {
    border-left: 4px solid rgb(13, 236, 236);
    h2 svg {
        fill: rgb(13, 236, 236);
    }
}

.health {
    border-left: 4px solid purple;
    h2 svg {
        fill: purple;
    }
}

.work {
    border-left: 4px solid rgb(95, 255, 47);
    h2 svg {
        fill: rgb(95, 255, 47);
    }
}

.art {
    border-left: 4px solid rgb(255, 130, 151);
    h2 svg {
        fill: rgb(255, 130, 151);
    }
}