.ui-list {
    margin: 2rem 1rem 4rem;
    padding: 1rem 2rem;
    background-color: rgba($color: #e5e5e5, $alpha: 0.1);
    border-radius: 8px;

    li {
        margin: 1rem 0;
        padding: 0.5rem;
        background-color: rgb(250,250,250);
        border-radius: 8px;
    }

    li p {
        font-size: .85rem;
    }
}

.completed {
    color: green;
    font-weight: 700;
}

.school {
    border-top: 3px solid red;
    border-left: 3px solid red;
}

.recreation {
    border-top: 3px solid rgb(13, 236, 236);
    border-left: 3px solid rgb(13, 236, 236);
}

.health {
    border-top: 3px solid yellow;
    border-left: 3px solid yellow;
}

.work {
    border-top: 3px solid rgb(95, 255, 47);
    border-left: 3px solid rgb(95, 255, 47);
}

.art {
    border-top: 3px solid rgb(255, 130, 151);
    border-left: 3px solid rgb(255, 130, 151);
}