@use 'reboot';
@use 'page-header';
@use 'page-link';
@use 'error-message';
@use 'appBar-and-addBtn';
@use 'todoList-and-items';
@use 'editButton';
@use 'deleteButton';
@use 'crud-page-styles';
@use 'page-button';

body {
    background-color: #e8e8e8;
}

#app {
    max-width: 960px;
    margin: 0 auto;
}

