@use 'reboot';
@use 'page-header';
@use 'page-link';
@use 'error-message';
@use 'appBar-and-addBtn';
@use 'todoList';

body {
    background-color: rgb(20, 33, 61);
}

#app {
    max-width: 960px;
    margin: 0 auto;
}

